@import url('https://fontlibrary.org//face/lato');

body {
  background-color: #498CEC;
  margin: 0;
  font-family: 'LatoRegular', sans-serif;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}